<app-progress-bar [current]="current"></app-progress-bar>
<app-merried-info (nextPage)="next()" *ngIf='currentPage === 1'></app-merried-info>
<app-event-description (nextPage)="next()" (prevPage)="prev()" *ngIf='currentPage === 2'></app-event-description>
<app-guest-list (nextPage)="next()" (prevPage)="prev()" *ngIf='currentPage === 3'></app-guest-list>
<app-vendors (prevPage)="prev()" *ngIf='currentPage === 4'></app-vendors>
