    <form class="card" (ngSubmit)='next()' #loginForm="ngForm">
        <h2>Groom and Bride account email</h2>
        <div class="form-control">
            <div class="control-list">
                <label for="mail">
                    <small>Email</small>
                </label>
                <input type="email" id="mail" [(ngModel)]="model.email" name="email" required>
            </div>
            <div class="control-list">
                <label for="weddingName">
                    <small>Wedding name</small>
                </label>
                <input type="text" id="weddingName" [(ngModel)]="model.weddingName" name="weddingName" required>
            </div>
        </div>
        <h2>Groom Information</h2>
        <div class="form-control">
            <div class="control-list">
                <label for="groomFname">
                    <small>First Name</small>
                </label>
                <input type="text" id="groomFname" [(ngModel)]="model.groomFname" name="groomFname" required>
            </div>
            <div class="control-list">
                <label for="groomMname">
                    <small>Middle Name</small>
                </label>
                <input type="text" id="groomMname" [(ngModel)]="model.groomMname" name="groomMname" required>
            </div>
            <div class="control-list">
                <label for="groomLname">
                    <small>Last Name</small>
                </label>
                <input type="text" id="groomLname" [(ngModel)]="model.groomLname" name="groomLname" required>
            </div>
            <div class="control-list">
                <label for="groomDateOfBirth">
                    <small>Date of Birth</small>
                </label>
                <input type="date" id="groomDateOfBirth" [(ngModel)]="model.groomDateOfBirth" name="groomDateOfBirth" required>
            </div>
            <div class="control-list">
                <label for="groomPhoneNum">
                    <small>Phone number</small>
                </label>
                <input type="tel" id="groomPhoneNum" [(ngModel)]="model.groomPhoneNum" name="groomPhoneNum" required>
            </div>
            <div class="control-list">
                <label for="groomGender">
                    <small>Gender</small>
                </label>
                <select type="text" id="groomGender" [(ngModel)]="model.groomGender" name="groomGender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <h2>Bride Information</h2>
        <div class="form-control">
            <div class="control-list">
                <label for="brideFname">
                    <small>First Name</small>
                </label>
                <input type="text" id="brideFname" [(ngModel)]="model.brideFname" name="brideFname" required>
            </div>
            <div class="control-list">
                <label for="brideMname">
                    <small>Middle Name</small>
                </label>
                <input type="text" id="brideMname" [(ngModel)]="model.brideMname" name="brideMname" required>
            </div>
            <div class="control-list">
                <label for="brideLname">
                    <small>Last Name</small>
                </label>
                <input type="text" id="brideLname" [(ngModel)]="model.brideLname" name="brideLname" required>
            </div>
            <div class="control-list">
                <label for="brideDateOfBirth">
                    <small>Date of Birth</small>
                </label>
                <input type="date" id="brideDateOfBirth" [(ngModel)]="model.brideDateOfBirth" name="brideDateOfBirth" required>
            </div>
            <div class="control-list">
                <label for="bridePhoneNum">
                    <small>Phone number</small>
                </label>
                <input type="tel" id="bridePhoneNum" [(ngModel)]="model.bridePhoneNum" name="bridePhoneNum" required>
            </div>
            <div class="control-list">
                <label for="brideGender">
                    <small>Gender</small>
                </label>
                <select id="brideGender" [(ngModel)]="model.brideGender" name="brideGender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="buttonGroup">
            <input type="button" (click)='next()' class="btn nextBtn" [disabled]="loginForm.form.invalid" value="Next">
        </div>
    </form>
    <!-- [disabled]="loginForm.form.invalid" -->
