<header class="header">
    <nav class="menu">
        <ul class="menu-group">
            <li class="menu-lists">
                <a [routerLink]="['/']" class="menu-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} >dashboard</a>
            </li>
            <li class="menu-lists">
                <a [routerLink]="['/calendar']" class="menu-link" routerLinkActive="active">calendar</a>
            </li>
            <li class="menu-lists">
                <a [routerLink]="['/hotels']" class="menu-link" routerLinkActive="active">hotels</a>
            </li>
            <li class="menu-lists">
                <a [routerLink]="['/my-events']" class="menu-link" routerLinkActive="active">my events</a>
            </li>
            <li class="menu-lists">
                <a [routerLink]="['/notes']" class="menu-link" routerLinkActive="active">notes</a>
            </li>
            <li class="menu-lists">
                <a [routerLink]="['/messages']" class="menu-link" routerLinkActive="active">messages</a>
            </li>
            <li class="menu-lists">
                <a [routerLink]="['/my-account']" class="menu-link" routerLinkActive="active">my account</a>
            </li>
        </ul>
    </nav>
</header>
