.header {
    width: 100%;
    padding-top: 15px;
    background-color: #ffffff;
    box-shadow: 0 3px 18px #00000029;
    opacity: 1;
    .menu {
        width: 100%;
        margin-top: 25px;
        display: flex;
        justify-content: center;
        .menu-group {
            display: flex;
            gap: 40px;
            text-transform: capitalize;
            .menu-lists {
                padding: 20px 0;
                .menu-link {
                    font-weight: 600;
                    padding: 17px 8px;
                }
                .active{
                        border-bottom: 3px solid #ee386f;
                        width: 100%;
                }
            }
        }
    }
}



