<div class="modal">
    <img src="https://image.freepik.com/free-vector/illustration-calendar-icon_53876-6132.jpg" alt="calendar">
    <h2>Event Created</h2>
    <p>Your event was successfully added to your shedule</p>
    
    <button type="button" class="btn eventButton" (click)="close()">Close</button>
</div>
<div class="overlay"></div>