.modal {
    width: 350px;
    height: 380px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: #FFFFFF;
    padding: 10px 50px;
        img{
            width: 100px;
            height: 115px;
        }
        h2{
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 60px;
        }
        .eventButton{
            background-color: #EE386F;
            border: 1px solid #EE386F;
            color: #FFFFFF;
            bottom: 0;
        }
}
.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.23;
    background-color: #000000;
}