.progress-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 50px;
  box-shadow: 0 3px 14px #00000029;
  position: relative;

  .line-gray {
    position: absolute;
    top: 22px;
    width: 68%;
    height: 11px;
    background: #EEEEEE;
    align-self: flex-start;
    z-index: -1;
    .line-purple {
      width: 99%;
      height: 100%;
      transition: .5s all;
      background: #F58BAB;
    }
  }
  .step {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .big {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;

      .small {
        width: 17px;
        height: 17px;
        border-radius: 50%;
      }
    }
  }
}
.activeSmall {
  background-color: #EE386F;
}

.nonActiveSmall {
  background: #D1D1D1;
}

.activeBig {
  background-color: #F58BAB;
}

.nonActiveBig {
  background: #EEEEEE;
}

