<div class="progress-bar">
  <div class="line-gray">
    <div class="line-purple" [style.width.%]="(+(current | async) - 1) * 33">
    </div>
  </div>
    <div class="step">
        <div class="big" [ngClass]="(current | async) >= 1 ?  'activeBig' : 'nonActiveBig'">
            <div class="small" [ngClass]="(current | async) >= 1 ?  'activeSmall' : 'nonActiveSmall'"></div>
        </div>
        <p>step 1</p>
        <small>groom and bride</small>
    </div>
    <div class="step">
        <div class="big" [ngClass]="(current | async) >= 2 ?  'activeBig' : 'nonActiveBig'">
            <div class="small" [ngClass]="(current | async) >= 2 ?  'activeSmall' : 'nonActiveSmall'"></div>
        </div>
        <p>step 2</p>
        <small>event description</small>
    </div>
    <div class="step">
        <div class="big" [ngClass]="(current | async) >= 3 ?  'activeBig' : 'nonActiveBig'">
            <div class="small" [ngClass]="(current | async) >= 3 ?  'activeSmall' : 'nonActiveSmall'"></div>
        </div>
        <p>step 3</p>
        <small>guest list</small>
    </div>
    <div class="step">
        <div class="big" [ngClass]="(current | async) >= 4 ?  'activeBig' : 'nonActiveBig'">
            <div class="small" [ngClass]="(current | async) >= 4 ?  'activeSmall' : 'nonActiveSmall'"></div>
        </div>
        <p>step 4</p>
        <small>vendors</small>
    </div>
</div>

