<form class="card" #loginForm="ngForm" (ngSubmit)='next()'>

    <h2>Guest Information</h2>
    <div class="form-control">
        <div class="control-list">
            <label for="name">
                <small>First Name</small>
            </label>
            <input type="text" id="name" [(ngModel)]="model.name" name="name" required>
        </div>
        <div class="control-list">
            <label for="middleName">
                <small>Middle Name</small>
            </label>
            <input type="text" id="middleName" [(ngModel)]="model.middleName" name="middleName" required>
        </div>
        <div class="control-list">
            <label for="lastName">
                <small>Last Name</small>
            </label>
            <input type="text" id="lastName" [(ngModel)]="model.lastName" name="lastName" required>
        </div>
        <div class="control-list">
            <label for="phone">
                <small>Phone</small>
            </label>
            <input type="tel" id="phone" [(ngModel)]="model.phone" name="phone" required>
        </div>
        <div class="control-list">
            <label for="mail">
                <small>Mail</small>
            </label>
            <input type="email" id="mail" [(ngModel)]="model.mail" name="mail" required>
        </div>
        <div class="control-list">
            <label for="side">
                <small>side</small>
            </label>
            <select type="text" id="side" [(ngModel)]="model.side" name="side" required>
                <option value="Groom">Groom</option>
                <option value="Bride">Bride</option>
            </select>
        </div>
        <button  class="add" type="button" [disabled]="loginForm.form.invalid" (click)="addValue()">Add to List</button>
    </div>
    <div class="valueBox">
        <div class="valueBox_header">
            <div class="valueHeader_items">N<sup>o</sup></div>
            <div class="valueHeader_items">Guest</div>
            <div class="valueHeader_items">Phone number</div>
            <div class="valueHeader_items">Email</div>
            <div class="valueHeader_items">Side</div>
        </div>
        <div class="valueBox_wrapper" *ngFor='let guestList of data'>
            <div class="valueBox_items">{{guestList.id}}</div>
            <div class="valueBox_items">{{guestList.name}} {{guestList.middleName}} {{guestList.lastName}}</div>
            <div class="valueBox_items">{{guestList.phone}}</div>
            <div class="valueBox_items">{{guestList.mail}}</div>
            <div class="valueBox_items">{{guestList.side}}</div>
        </div>
    </div>

    <div class="buttonGroup">
        <input type="button" (click)='prev()' class="btn backBtn" value="Back">
        <input type="button" (click)='next()' class="btn nextBtn" value="Next">
    </div>
</form>
