.card {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    width: 100%;
    h2{
        margin: 40px 0px 5px 0px; 
    }
    .form-control {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        .add{
            width: 215px;
            padding: 10px 70px;
            margin-right: 10px;
            background-color: #009E89;
            border-radius: 20px;
            color:  #ffffff;
            border: #009E89 1px solid;
            cursor: pointer;
        }
        .control-list{
            width: 31.9%;
        }
    }
    .valueBox{
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
        margin: 50px 0px;
        .valueBox_wrapper, .valueBox_header{
            display: flex;
            width: 100%;
            .valueHeader_items, .valueBox_items{
                width: 24%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .valueHeader_items:nth-child(1), .valueBox_items:nth-child(1){
                width: 5%;
            }
        }
        .valueBox_wrapper{
            padding: 20px 0px;
            border-bottom: 1px solid #C5C5C5;
        }
        .valueBox_wrapper:last-child{
            border-bottom: none;
        }
    }
}
