/* You can add global styles to this file, and also import other style files */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a,p,h1,h2,h3,h4,h5,h6{
    color: #000000;
    letter-spacing: 0px;
}

//////

.container{
    width: 80%;
    display: flex;
    box-shadow: 0px 3px 20px;
    margin: 50px auto;
    border-radius: 10px;
}
.buttonGroup{
    margin-top: 20px;
}
.btn{
    padding: 10px 70px;
    border-radius: 20px;
    cursor: pointer;
}
.nextBtn{
    background-color: #ee386f;
    color: #ffffff;
    border: #ee386f 1px solid;
}
.backBtn{
    margin-right: 10px;
    background: none;
    color:  #ee386f;
    border: #ee386f 1px solid;
}
input[type=text], input[type=password], input[type=email], input[type=date], input[type=phone], input[type=tel], select {
    display: block;
    width: 100%;
    padding: 12px 12px;
    border-radius: 18px;
    border: 1px solid #c5c5c5;
    outline: none;

    &.ng-invalid.ng-touched{
        border: 1px solid #ff0000;
    }
    &.ng-valid.ng-touched{
        border: 1px solid #008000;
    }
}

* {
    outline: none!important
}

