.card {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    width: 100%;
    h2{
        margin: 40px 0px 5px 0px; 
    }
        .form-control {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            .control-list{
                width: 48.9%;
            }
            .control-list:nth-child(5){
                width: 100%;
                small{
                    margin: 0 10px;
                }
            }
        }
}