<form class="card" (ngSubmit)='next()' #loginForm="ngForm">
    <h2>Weeding Information</h2>
    <div class="form-control">
        <div class="control-list">
            <label for="ceremony-type">
                <small>Ceremony type</small>
            </label>
            <select type="text" id="ceremony-type" [(ngModel)]='model.ceremonyType' name="ceremonyType">
                <option value="firstType">firstType</option>
                <option value="secondType">secondType</option>
            </select>
        </div>
        <div class="control-list">
            <label for="hotel">
                <small>hotel</small>
            </label>
            <select type="text" id="hotel" [(ngModel)]='model.hotel' name="hotel">
                <option value="firstType">firstType</option>
                <option value="secondType">secondType</option>
            </select>
        </div>
        <div class="control-list">
            <label for="checkInDate">
                <small>Check in date</small>
            </label>
            <input type="date" id="checkInDate" [(ngModel)]='model.checkInDate' name="checkInDate">
        </div>
        <div class="control-list">
            <label for="checkOutDate">
                <small>Check out date</small>
            </label>
            <input type="date" id="checkOutDate" [(ngModel)]='model.checkOutDate' name="checkOutDate">
        </div>
        <div class="control-list">
            <input type="checkbox" id="honeymoon" [(ngModel)]='model.honeymoon' name="honeymoon">
            <label for="honeymoon">
                <small>Honeymoon</small>
            </label>
            <input type="checkbox" id="bookedRoom" [(ngModel)]='model.bookedRoom' name="bookedRoom">
            <label for="bookedRoom">
                <small>Booked room</small>
            </label>
        </div>
        <div class="control-list">
            <label for="roomNumber">
                <small>Room number</small>
            </label>
            <input type="text" id="roomNumber" [(ngModel)]='model.roomNumber' name="roomNumber">
        </div>
    </div>
    <div class="buttonGroup">
        <input type="button" (click)='prev()' class="btn backBtn"  value="Previous">
        <input type="button" (click)='next()'  [disabled]="loginForm.form.invalid"  class="btn nextBtn"  value="Next">
    </div>
</form>
